name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches:
    - main
  schedule:
  - cron: "0 0 * * 0"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: install buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest
      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: login to ghcr.io
        run: echo "${{ secrets.GH_PASSWORD }}" | docker login ghcr.io -u "${{ secrets.GH_USERNAME }}" --password-stdin
      - name: build image for dockerhub
        run: |
          docker buildx build --push \
            --tag diffusehyperion/ultraviolet:latest \
            --platform linux/amd64,linux/arm/v7,linux/arm64 .
      - name: build image for github packages
        run: |
          docker buildx build --push \
            --tag ghcr.io/diffusehyperion/ultraviolet:latest \
            --platform linux/amd64,linux/arm/v7,linux/arm64 .
            
